<html>
    <head>
        <meta http-equiv="refresh" content="15" >
        <style>
            h2 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            body {max-width: 500px; margin: auto; margin-top: 2em}
        </style>
    </head>
    <body>
        <h2> 
            {{ stop_metadata.stop_name }} ({{ stop_metadata.stop_id }})
        </h2>

        {% if routes %}
            {% for route in routes %}
                <p> {{ route.route_number }} / {{ route.heading }} </p>
                {% for trip in route.trips %}
                    <div> {{ trip.start }}, in {{ trip.departure_in }} min. {% if trip.adjusted %} * {% endif %} </div>
                    <br>
                {% endfor %}
                <br>
            {% endfor %}
        {% else %}
            <p>No routes are available.</p>
        {% endif %}

    </body>
</html>
